### Rijschema

In [9]:
import pandas as pd
import numpy as np

In [10]:
Team1 = ["Joep", "Eef", "Kas", "Teun", "Tom", "Kenneth", "Tim P", "Tim H", "Lars", "Ken", "Mareno", 
        "Robin", "Marijn", "Stan", "Dylan", "Damjan"]

Team2 = ["Joep", "Eef", "Kas", "Teun", "Tom", "Kenneth", "Tim P", "Tim H", "Lars", "Ken", "Mareno", 
        "Robin", "Marijn", "Stan", "Dylan", "Damjan"]

Team3 = ["Joep", "Eef", "Kas", "Teun", "Tom", "Kenneth", "Tim P", "Tim H", "Lars", "Ken", "Mareno", 
        "Robin", "Marijn", "Stan", "Dylan", "Damjan"]

Data = ["ZONDAG 11 OKTOBER 2020", "ZONDAG 18 OKTOBER 2020", "ZONDAG 1 NOVEMBER 2020", "ZONDAG 22 NOVEMBER 2020", 
        "ZONDAG 13 DECEMBER 2020", "ZONDAG 24 JANUARI 2021", "ZONDAG 7 FEBRUARI 2021", "ZONDAG 7 MAART 2021",
       "ZONDAG 21 MAART 2021", "ZONDAG 11 APRIL 2021", "ZONDAG 25 APRIL 2021", "ZONDAG 9 MEI 2021"]

Tegenstander = ["Silvode", "VIOD", "Union", "Leones", "SC Bemmel",
                "Orion", "OBW", "VDZ 2", "Spero", "SML", "De Bataven", "Trekvogels"]

In [11]:
# Make first dataframe with all players in three columns
df = pd.DataFrame(zip(Tegenstander, Data), 
                  columns=["Tegenstander", "Datum"])
df['Datum'] = df['Datum'].map(lambda x: x.lstrip('ZONDAG').rstrip('aAbBcC'))
df["Datum"] = df["Datum"].str.capitalize()
df2 = pd.DataFrame(zip(Team1, Team2, Team3), columns =["Speler 1", "Speler 2", "Speler 3"])
df2

   Speler 1 Speler 2 Speler 3
0      Joep     Joep     Joep
1       Eef      Eef      Eef
2       Kas      Kas      Kas
3      Teun     Teun     Teun
4       Tom      Tom      Tom
5   Kenneth  Kenneth  Kenneth
6     Tim P    Tim P    Tim P
7     Tim H    Tim H    Tim H
8      Lars     Lars     Lars
9       Ken      Ken      Ken
10   Mareno   Mareno   Mareno
11    Robin    Robin    Robin
12   Marijn   Marijn   Marijn
13     Stan     Stan     Stan
14    Dylan    Dylan    Dylan
15   Damjan   Damjan   Damjan

In [12]:
# Merge dataframe with dates and oponents
df3 = pd.concat([df,df2], ignore_index=True, axis=1)
df3.columns= ["Tegenstander", "Datum","Speler 1", "Speler 2", "Speler 3" ]
df3

   Tegenstander              Datum Speler 1 Speler 2 Speler 3
0       Silvode    11 oktober 2020     Joep     Joep     Joep
1          VIOD    18 oktober 2020      Eef      Eef      Eef
2         Union    1 november 2020      Kas      Kas      Kas
3        Leones   22 november 2020     Teun     Teun     Teun
4     SC Bemmel   13 december 2020      Tom      Tom      Tom
5         Orion    24 januari 2021  Kenneth  Kenneth  Kenneth
6           OBW    7 februari 2021    Tim P    Tim P    Tim P
7         VDZ 2       7 maart 2021    Tim H    Tim H    Tim H
8         Spero      21 maart 2021     Lars     Lars     Lars
9           SML      11 april 2021      Ken      Ken      Ken
10   De Bataven      25 april 2021   Mareno   Mareno   Mareno
11   Trekvogels         9 mei 2021    Robin    Robin    Robin
12          NaN                NaN   Marijn   Marijn   Marijn
13          NaN                NaN     Stan     Stan     Stan
14          NaN                NaN    Dylan    Dylan    Dylan
15          NaN                NaN   Damjan   Damjan   Damjan

In [21]:
# Shuffle player columns
df4 = df3.copy() 
def shuffle(df4):     
    """Shuffles player columns and  makes sure that each player has to drive at least 2 times"""
    df4['True or False'] = np.where((df4["Speler 1"] == df4["Speler 2"]) | (df4["Speler 1"] == df4["Speler 3"]) | (df4["Speler 2"] == df4["Speler 3"]), 'True', 'False')
    while True:
        df4["Speler 1"] = df4["Speler 1"].sample(frac=1).reset_index(drop=True)
        df4["Speler 2"] = df4["Speler 2"].sample(frac=1).reset_index(drop=True)
        df4["Speler 3"] = df4["Speler 3"].sample(frac=1).reset_index(drop=True)
        df4['True or False'] = np.where((df4["Speler 1"] == df4["Speler 2"]) | (df4["Speler 1"] == df4["Speler 3"]) | (df4["Speler 2"] == df4["Speler 3"]), 'True', 'False')
        if 'True' not in df4['True or False'].values:  
            dff = df4[["Speler 1", "Speler 2", "Speler 3"]].copy()
            a = dff.apply(pd.Series.value_counts, axis=1).fillna(0)
            Total = []
            Total = a.iloc[[12,13,14,15],:].sum().tolist()
            Total = [int(i) for i in Total]
            while max(Total) < 1.5: # players cannot be seen twice after index 11 (when they do not have to drive)
                return df4
shuffle(df4)

   Tegenstander              Datum Speler 1 Speler 2 Speler 3 True or False
0       Silvode    11 oktober 2020    Dylan     Stan    Tim H         False
1          VIOD    18 oktober 2020   Damjan    Tim P    Robin         False
2         Union    1 november 2020     Joep    Tim H      Kas         False
3        Leones   22 november 2020      Kas     Lars   Mareno         False
4     SC Bemmel   13 december 2020   Marijn      Kas      Tom         False
5         Orion    24 januari 2021   Mareno  Kenneth    Dylan         False
6           OBW    7 februari 2021     Teun      Ken  Kenneth         False
7         VDZ 2       7 maart 2021      Eef    Robin     Teun         False
8         Spero      21 maart 2021    Robin     Teun   Damjan         False
9           SML      11 april 2021  Kenneth   Marijn     Stan         False
10   De Bataven      25 april 2021    Tim P      Tom      Ken         False
11   Trekvogels         9 mei 2021     Lars     Joep      Eef         False
12          NaN                NaN      Tom    Dylan     Lars         False
13          NaN                NaN      Ken      Eef     Joep         False
14          NaN                NaN     Stan   Mareno   Marijn         False
15          NaN                NaN    Tim H   Damjan    Tim P         False

In [284]:
# Changes index into date and skips NaN values (after the last match date)
df5 = df4.set_index(["Datum"])
# df3 = df3[df3['Tegenstander'].notna()]
# df3 = df3[df3['Datum'].notna()]
df5 = df5[:12]
df5 = df5.loc[:,'Tegenstander':'Speler 3']
df5

                  Tegenstander Speler 1 Speler 2 Speler 3
Datum
 11 oktober 2020       Silvode  Kenneth      Kas   Marijn
 18 oktober 2020          VIOD   Damjan      Tom    Dylan
 1 november 2020         Union    Robin     Joep    Tim H
 22 november 2020       Leones      Ken     Stan     Lars
 13 december 2020    SC Bemmel     Lars    Tim P     Stan
 24 januari 2021         Orion     Stan    Robin      Ken
 7 februari 2021           OBW   Marijn    Dylan     Joep
 7 maart 2021            VDZ 2      Tom     Lars   Mareno
 21 maart 2021           Spero   Mareno  Kenneth      Kas
 11 april 2021             SML    Tim P   Marijn      Eef
 25 april 2021      De Bataven    Tim H   Mareno     Teun
 9 mei 2021         Trekvogels     Teun      Eef   Damjan